section.form-style
  .promo__title-box.section__title-box
    h3.section__title.form-style__title Form style
  form.form-style__form(action="#")
    .form-left
      label.label-left  В корзину
        input(type="radio" value="valradio" id="valradio" name="nameradio")
        span
      label.label-left В корзину
        input(type="radio" value="valradio" id="valradio" name="nameradio"  checked )
        span
    .form-right
      label(for="checkbox").label-right  В корзину
        input(type="checkbox" id="checkbox" checked ).input-checkbox
        span
      label(for="checkboxq").label-right В корзину
        input(type="checkbox" id="checkboxq").input-checkbox
        span




      //- input(type="")

      //- <label>Name
      //-   <input type="checkbox" />
      //-   <span></span>
      //- </label>


