include ../mixins/item__promo
section.promo
  .container
    .promo__title.section__title
      h2.section__title Promo block
    .promo__wrapper
      +item__promo("assets/imgs/promo-1.jpg","new","new","new","Chair","Minimal LCD chair","$180","$250","5","7","/src/assets/")


