include ../mixins/item__promo
section.promo

    .promo__title-box.section__title-box
      h2.section__title Promo block
    .promo__iner
      .promo-slider.swiper
        .promo-slider__wrapper.swiper-wrapper
            .promo-slider__slide.swiper-slide
              +item__promo("assets/imgs/promo-1.png","Акция -25%","Новинка","Рекомендуем","В наличии","Код: 4744481010818","Консервы пастеризованные.Бульон куриный жидкий., 350мл <br> Консервы пастеризованные.Бульон","500,20 р.","600.20 p.")
            .promo-slider__slide.swiper-slide
              +item__promo("assets/imgs/promo-2.png","Акция -25%","Новинка","Рекомендуем","В наличии","Код: 4744481010818","Консервы пастеризованные.Бульон куриный жидкий., 350мл <br> Консервы пастеризованные.Бульон","500,20 р.","600.20 p.")(class3="none-span")
            .promo-slider__slide.swiper-slide
              +item__promo("assets/imgs/promo-3.png","Акция -25%","Новинка","Рекомендуем","В наличии","Код: 4744481010818","Морские водоросли Нори (плоские) обжаренные сушеные 'Clearspring', 13.5г","8.98 р.","600.20 p.")(class="none-basket")(class3="none-span")(class2="none-span")(class1="none-span")(classprice="none")
            .promo-slider__slide.swiper-slide
              +item__promo("assets/imgs/promo-4.png","Акция -25%","Новинка","Рекомендуем","Отсутствует","Код: 4744481010818","Рисовые хлебцы с молочным шоколадом, 34г","2.98 р.","4.00 р.")(class3="none-span")(class2="none-span")(class="none-basket")(classimg="opacity-img")

        //- .swiper-pagination
        //- .swiper-button-prev.image-slidere__prev
        //-   img(src="assets/imgs/slider-arrow__left.svg", alt="").img-prev
        //- .swiper-button-next.image-slidere__next
        //-   img(src="assets/imgs/slider-arrow__right.svg", alt="").img-next



