section.baner
  .container
    .image-slider.swiper
      .image-slider__wrapper.swiper-wrapper
        .image-slider__slide.swiper-slide
          .image-slider__image
            a(href="#").slider-link
              h1.slider-title Cлайдер первого экрана
              img(data-src="assets/imgs/slide-1.jpg", alt="slide-1").swiper-lazy
              .swiper-lazy-preloader
        .image-slider__slide.swiper-slide
          .image-slider__image
            a(href="#").slider-link
              h1.slider-title Cлайдер первого экрана
              img(data-src="assets/imgs/slide-2.jpg", alt="slide-2").swiper-lazy
              .swiper-lazy-preloader
        .image-slider__slide.swiper-slide
          .image-slider__image
            a(href="#").slider-link
              h1.slider-title Cлайдер первого экрана
              img(data-src="assets/imgs/slide-3.jpg", alt="slide-3").swiper-lazy
              .swiper-lazy-preloader
        .image-slider__slide.swiper-slide
          .image-slider__image
            a(href="#").slider-link
              h1.slider-title Cлайдер первого экрана
              img(data-src="assets/imgs/slide-4.jpg", alt="slide-4").swiper-lazy
        .image-slider__slide.swiper-slide
          .image-slider__image
            a(href="#").slider-link
              h1.slider-title Cлайдер первого экрана
              img(data-src="assets/imgs/slide-5.jpg", alt="slide-5").swiper-lazy
              .swiper-lazy-preloader

      //- .swiper-pagination
      .swiper-button-prev.image-slidere__prev
        img(src="assets/imgs/slider-arrow__left.svg", alt="").img-prev

      .swiper-button-next.image-slidere__next
       img(src="assets/imgs/slider-arrow__right.svg", alt="").img-next



//- <div class="swiper">
//-   <div class="swiper-wrapper">
//-     <!-- Lazy image -->
//-     <div class="swiper-slide">
//-       <img data-src="path/to/picture-1.jpg" class="swiper-lazy" />
//-       <div class="swiper-lazy-preloader"></div>
//-     </div>

//-     <!-- Lazy image with srcset -->
//-     <div class="swiper-slide">
//-       <img
//-         data-src="path/to/logo-small.png"
//-         data-srcset="path/to/logo-large.png 2x"
//-         class="swiper-lazy"
//-       />
//-       <div class="swiper-lazy-preloader"></div>
//-     </div>

//-     <!-- Element with lazy background image -->
//-     <div class="swiper-slide">
//-       <div data-background="path/to/picture-2.jpg" class="swiper-lazy">
//-         <div class="swiper-lazy-preloader"></div>
//-       </div>
//-     </div>

//-     <!-- Lazy background image on slide itself -->
//-     <div data-background="path/to/picture-3.jpg"  class="swiper-slide swiper-lazy">
//-       <div class="swiper-lazy-preloader"></div>
//-     </div>
//-   </div>
//- </div>





//- <div class="swiper">
//-   <div class="swiper-wrapper">
//-     <div class="swiper-slide">Slide 1</div>
//-     <div class="swiper-slide">Slide 2</div>
//-     <div class="swiper-slide">Slide 3</div>
//-     ...
//-   </div>
//-   <!-- If we need pagination -->
//-   <div class="swiper-pagination"></div>

//-   <!-- If we need navigation buttons -->
//-   <div class="swiper-button-prev"></div>
//-   <div class="swiper-button-next"></div>

//-   <!-- If we need scrollbar -->
//-   <div class="swiper-scrollbar"></div>
//- </div>