extends laout/laout

block main
  main.main
    //- Section baner........
    include ./components/sec__baner

    //- //- Section promo..........
    include ./components/sec__promo

























