extends laout/laout

block main
  main.main
    .container
      .wrapper
        include ./components/sec__baner
        include ./components/sec__promo
        include ./components/sec__form-style

























