@import "../main/vars";
.header {
  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 40px;
    background: $primerycolor-siren;
    border-radius: 0px 0px 20px 20px;
    @media (max-width: 1200px) {
      flex-direction: column;
      padding: 7px 10px;
    }
    @media (max-width: 768px) {
      flex-direction: row;
      padding: 10px;
    }
    &-left {
      margin-left: 33px;
      // flex: 0 1 505px;
      @media (max-width: 1200px) {
        margin-left: 0px;
        margin-bottom: 5px;
      }
      .burger {
        display: none;
        background-color: transparent;
        border: none;
        padding: 10px 1px;
        cursor: pointer;
        transition: all 0.3s linear;
        &:hover {
          opacity: 0.5;
        }
        @media (max-width: 588px) {
          display: block;
        }
        .burger-item {
          display: block;
          position: relative;
          width: 30px;
          height: 3px;
          background-color: #fff;
        }
        .burger-item::before,
        .burger-item::after {
          content: " ";
          position: absolute;
          left: 0;
          width: 30px;
          height: 3px;
          background-color: #fff;
        }
        .burger-item::before {
          top: -8px;
        }
        .burger-item::after {
          bottom: -8px;
        }
      }
      .nav-list {
        display: flex;
        align-items: center;
        @media (max-width: 588px) {
          display: none;
        }
        .nav-item:not(:last-child) {
          margin-right: 48px;
          @media (max-width: 768px) {
            margin-right: 15px;
          }
        }
        .nav-link {
          font-family: $font-heliosc;
          font-weight: 400;
          line-height: 22px;
          letter-spacing: 0.02em;
          color: $primerycolor-white;
          white-space: nowrap;
          transition: opacity 0.3s linear;
          &:hover {
            opacity: 0.5;
          }
        }
      }
    }
    &-right {
      display: flex;
      align-items: center;
      margin-right: 25px;
      @media (max-width: 768px) {
        margin-right: 0px;
      }
      .header__top-right_item {
        &:hover::before {
          opacity: 0.5;
        }
        .link-text {
          @media (max-width: 768px) {
            display: none;
          }
        }
      }
      .header__top-right_item:not(:first-child) {
        margin-left: 41px;
        @media (max-width: 1400px) {
          margin-left: 17px;
        }
        @media (max-width: 768px) {
          margin-left: 7px;
        }
      }
      .header__top-right_item:nth-child(1) {
        margin-right: 14px;
        @media (max-width: 1400px) {
          margin-right: 0px;
        }
      }
      .header__top-right_item:nth-child(2) {
        margin-right: 6px;
        @media (max-width: 1400px) {
          margin-right: 4px;
        }
        @media (max-width: 768px) {
          margin: 0px;
        }
      }
      .mail-img {
        padding-right: 19px;
        @media (max-width: 1400px) {
          padding-right: 11px;
        }
        @media (max-width: 768px) {
          padding-right: 8px;
        }
      }
      .tel_mts-img {
        padding-right: 10px;
        @media (max-width: 1400px) {
          padding-right: 6px;
        }
      }
      .tel_a1-img {
        padding-right: 8px;
        @media (max-width: 1400px) {
          padding-right: 6px;
        }
        @media (max-width: 768px) {
          padding-right: 0px;
        }
      }
      .tel-img {
        padding-right: 12px;
        @media (max-width: 1400px) {
          padding-right: 8px;
        }
        @media (max-width: 768px) {
          padding-right: 0px;
        }
      }
      .enter-img {
        padding-right: 8px;
        @media (max-width: 1400px) {
          padding-right: 5px;
        }
      }
      .item-link {
        font-family: $font-roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 15px;
        line-height: 22px;
        letter-spacing: 0.02em;
        color: $primerycolor-white;
        transition: all 0.2s linear;
        display: flex;
        align-items: center;
        white-space: nowrap;
        &:hover {
          opacity: 0.5;
        }
      }
      .text-dotted {
        border-bottom: 1px dashed rgba($primerycolor-white, $alpha: 0.25);
      }
    }
  }
  &__bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media (max-width: 588px) {
      flex-direction: column;
      padding: 8px 0px 8px 0px;
    }
    &-logo {
      display: flex;
      align-items: center;
      @media (max-width: 1200px) {
        flex-direction: column;
        justify-content: center;
      }
      img {
        @media (max-width: 588px) {
          width: 130%;
        }
      }
      .logo-text {
        font-family: $font-mont;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 22px;
        letter-spacing: 0.02em;
        color: $primerycolor-gray;
        text-align: center;
        margin-left: 75px;
        white-space: nowrap;
        @media (max-width: 1200px) {
          margin-left: 0px;
          margin-top: 4px;
        }
        @media (max-width: 995px) {
          display: none;
        }
      }
    }
    &-search {
      max-width: 760px;
      width: 100%;
      margin: 0px 15px;
      padding: 16px 0px 18px 0px;
      @media (max-width: 588px) {
        padding: 8px 0px 9px 0px;
      }
      .form {
        position: relative;
        height: 52px;
        &-search {
          width: 100%;
          height: 100%;
          background: #f4f4f4;
          border-radius: 50px;
          border: none;
          padding: 15px 14px 15px 69px;
          font-family: $font-mont;
          font-style: normal;
          font-weight: normal;
          font-size: 15px;
          &:hover {
            box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.05);
          }
          @media (max-width: 995px) {
            padding: 15px 14px 15px 46px;
          }
          &::placeholder {
            font-family: $font-mont;
            font-style: normal;
            font-weight: normal;
            font-size: 15px;
            line-height: 22px;
            letter-spacing: 0.02em;
            color: $primerycolor-black;
            @media (max-width: 995px) {
              font-size: 12px;
            }
          }
        }
        &-btn.search {
          position: absolute;
          left: 15px;
          top: 13px;
          z-index: 5;
          border: none;
          outline: none;
          img {
            transition: all 0.2s linear;
            &:hover {
              transform: scale(1.2);
            }
          }
          &:hover {
            cursor: pointer;
          }
        }
        &-btn.close {
          position: absolute;
          right: 15px;
          top: 18px;
          z-index: 5;
          border: none;
          outline: none;
          img {
            transition: all 0.2s linear;
            &:hover {
              transform: scale(1.3);
            }
          }
          &:hover {
            cursor: pointer;
          }
        }
      }
    }
  }
}
.active {
  flex-direction: column;
  margin-top: 10px;
  .nav-item {
    margin-right: 0px;
    margin-bottom: 5px;
  }
}
.header__bottom-cabinet {
  display: flex;
  align-items: center;
  @media (max-width: 588px) {
    display: none;
  }
  .cabinet__link + .cabinet__link {
    margin-left: 51px;
    @media (max-width: 1200px) {
      margin-left: 31px;
    }
    @media (max-width: 995px) {
      margin-left: 15px;
    }
  }
  .cabinet-img {
    margin-right: 16px;
    @media (max-width: 995px) {
      margin-right: 10px;
    }
    @media (max-width: 768px) {
      margin-right: 0px;
    }
  }
}
.cabinet__link {
  display: flex;
  align-items: center;
  white-space: nowrap;
  font-family: $font-heliosc;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  letter-spacing: 0.02em;
  color: #404040;
  transition: all 0.2 linear;
  .cabinet__link-text {
    @media (max-width: 768px) {
      display: none;
    }
  }
  &:hover {
    text-decoration: underline;
  }
  path {
    transition: all 0.2 linear;
  }
  &:hover path {
    fill: #ff8700;
  }
  &:hover ::after {
    background: red;
  }
}
.cabinet__link.basket {
  position: relative;
  &::after {
    content: attr(data-count);
    width: 21px;
    height: 15px;
    background: $primerycolor-siren;
    border-radius: 100px;
    position: absolute;
    left: 12px;
    top: -2px;

    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Acrom;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 18px;
    text-align: center;
    color: $primerycolor-white;
  }
}
