@import "../main/vars";
.section__title-box {
  .section__title {
    font-family: $font-roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 46px;
    color: $primerycolor-siren;
  }
}
.new-box__btn-link {
  padding: 12px 16px;
  font-family: $font-heliosc;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  // line-height: 22px;
  text-align: center;
  display: inline-block;
  border-radius: 50px;
}
.promo {
  padding-top: 51px;
  color: black;
  &__title-box {
    margin-bottom: 71px;
  }
  &__wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 -15px;
  }
  &__column {
    flex: 0 0 25%;
    padding: 0 15px;
    // margin-bottom: 45px;
    // max-width: 25%;

    // @media (max-width:995px) {
    //   flex: 0 1 33% ;
    // }
    .promo__item {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 46px 20px 0px 20px;
      transition: transform 0.2s linear;
      filter: drop-shadow(0px 3px 24px rgba(0, 0, 0, 0.08));
      border-radius: 22px 0px;
      background-color: $primerycolor-white;
      position: relative;
      &:hover {
        transform: translate(0, -5%);
        // cursor: pointer;
      }
    }
    .promo__img-box {
      margin-bottom: 47px;
      position: relative;
      min-height: 200px;
      img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        // height: 100%;
        z-index: -1;
      }
      .status__box {
        display: flex;
        flex-direction: column;
        top: 0;
        left: 0;
        position: absolute;
      }
      .status-span {
        // width: 45px;
        // height: 20px;
        background: $primerycolor-yellow;
        border-radius: 0px 0px 5px 0px;
        color: $primerycolor-white;
        font-family: Mulish;
        font-style: normal;
        font-weight: 600;
        font-size: 12px;
        line-height: 130%;
        text-align: center;
        letter-spacing: 0.008em;
      }
      .status-span.span-green {
        background: $primerycolor-green;
      }
      .status-span.span-blue {
        background: $primerycolor-blue;
      }
    }
    .promo__description-box {
      // flex: 1 0 auto;
      margin-bottom: 0;
      .code__box {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-family: $font-heliosc;
        font-style: normal;
        font-size: 14px;
        line-height: 22px;
        margin-bottom: 12px;
        .code-span {
          font-weight: normal;
          letter-spacing: 0.02em;
          color: $primerycolor-siren;
        }
        .code-span.code-span--not {
          color: #c74a2c;
        }
        .code-text {
          font-weight: 300;
          color: $primerycolor-gray;
        }
      }
      .promo-title {
        font-family: $font-heliosc;
        font-style: normal;
        font-weight: normal;
        font-size: 15px;
        line-height: 22px;
        letter-spacing: 0.02em;
        color: $primerycolor-black--item;
        margin-bottom: 40px;
      }
    }
    .promo__price-box {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-bottom: 22px;
      .price {
        display: flex;
        align-items: flex-end;
        &-new {
          font-family: $font-heliosc;
          font-style: normal;
          font-weight: bold;
          font-size: 24px;
          line-height: 36px;
          color: $primerycolor-black--item;
        }
        &-old {
          font-family: $font-heliosc;
          font-style: normal;
          font-weight: 300;
          font-size: 18px;
          line-height: 26px;
          letter-spacing: 0.01em;
          text-decoration-line: line-through;
          color: $primerycolor-gray;
          margin-left: 6px;
        }
      }
    }
    .promo_new-box {
      margin-bottom: 17px;
      .new-box__form {
        margin-bottom: 12px;
        .form-new {
          position: relative;

          &__input {
            background: #fafafa;
            border-radius: 50px;
            width: 100%;
            height: 40px;
            text-align: center;
            border: none;
            outline: none;
          }
          &__minus-btn {
            position: absolute;
            left: 16px;
            top: calc(50% - 20px);
            height: 100%;
            border: 0;
            outline: 0;
            &:hover {
              cursor: pointer;
              path {
                fill: #ff8600;
              }
            }
          }
          &__plus-btn {
            position: absolute;
            right: 16px;
            top: calc(50% - 20px);
            height: 100%;
            border: 0;
            outline: 0;
            transition: all 0.5s linear;
            &:hover {
              cursor: pointer;
              path {
                fill: #ff8600;
              }
            }
          }
        }
      }
      .new-box__btn {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .left-btn {
          border: 1px solid $primerycolor-siren;
          box-sizing: border-box;

          color: $primerycolor-siren;
        }
        .right-btn {
          // max-width: 110px;
          // width: 100%;
          border: 1px solid transparent;
          background: $primerycolor-siren;
          color: $primerycolor-white;
          // padding-right: 17px;


        }
      }
    }
  }
}
