@import "../main/vars";
.baner {
  .image-slider__image {
    text-align: center;
    img {
      opacity: 0.85;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    .slider-title {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-family: $font-roboto;
      font-style: normal;
      font-weight: bold;
      font-size: 64px;
      line-height: 68px;
      letter-spacing: 0.02em;
      color: $primerycolor-white;
      z-index: 3;
      width: 100%;
      padding: 0px 110px;
      text-align: center;
      @media (max-width: 1400px) {
        font-size: 54px;
      }
      @media (max-width: 1200px) {
        font-size: 50px;
      }
      @media (max-width: 995px) {
        font-size: 38px;
      }
      @media (max-width: 768px) {
        font-size: 30px;
      }
    }
  }
}
.image-slider {
  max-width: 1600px;
  height: 800px;
  @media (max-width: 1400px) {
    height: 630px;
  }
  @media (max-width: 995px) {
    height: 500px;
  }
  @media (max-width: 768px) {
    height: 400px;
  }
}
.swiper-button-prev:after, .swiper-rtl .swiper-button-next:after,
.swiper-button-next:after, .swiper-rtl .swiper-button-prev:after {
    display: none;
}
.image-slidere__prev {
    margin-left: 51px;
}
.image-slidere__next {
    margin-right: 51px;
}
