@import "../main/vars.scss";

body {
  font-family: $font-heliosc;
  font-size: 15px;
  font-weight: 400;
  color: $primerycolor-white;
  background-color: $primerycolor-white;
}

.container {
  width: 100%;
  max-width: 1630px;
  padding: 0px 15px;
  margin: 0 auto;
}

.wrapper {
  position: relative;
  &::after {
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    background-image: url(../imgs/slam.svg);
    width: 600px;
    height: 600px;
    display: block;
    z-index: -1;
  }
}

input::-webkit-search-decoration,
input::-webkit-search-cancel-button,
input::-webkit-search-results-button,
input::-webkit-search-results-decoration {
  display: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}
input[type='number'] {
  -moz-appearance: textfield;
}
input[type="number"]:hover,
input[type="number"]:focus {
  -moz-appearance: number-input;
}



