// основные цвета
$primerycolor-white: #fff;
$primerycolor-black: #000;
$primerycolor-gray:#828282;
$primerycolor-black--item:#181717;
$primerycolor-yellow:#FDCA33;
$primerycolor-green: #8DC63F;
$primerycolor-blue:#00C2CE;
$primerycolor-siren:#894083;


// основной шрифт
$font-heliosc:'HeliosC', sans-serif;
// //дполнительный шрифт
$font-roboto: 'Roboto', sans-serif;
$font-mont: 'Montserrat', sans-serif;
// $font-hellioscLight:
